.order {
    margin: 64px 0;
}

.wrapper {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productImages {
    width: 50%;
    height: auto;
}

.productImages .mainImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.heading {
    text-align: center;
    margin-bottom: 60px;
}

.heading .title {
    font-size: 64px;
    font-family: 'Syne', serif;
    font-weight: bold;
}

.heading .subtitle {
    font-family: "Montserrat", serif;
    font-size: 20px;
    text-align: center;
    color: #C7C7C7;
}

.description h2 {
    font-family: 'Syne', serif;
    font-size: 40px;
    font-weight: bold;
}

.description p {
    font-family: 'Montserrat', serif;
    font-size: 20px;
    color: #C7C7C7;
}

.button {
    display: block;
    color: #121313;
    background-color: #3FC3D7;
    border-radius: 15px;
    padding: 16px;
    /* margin: 0 auto; */
    font-size: 20px;
    font-weight: medium;
    box-shadow: 0 5px 40px #11B8D1;
    border: none;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #474949;
    margin: 80px 0;
}